@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital,wght@0,400..700;1,400..700&family=Dancing+Script:wght@400..700&family=Great+Vibes&family=Lugrasimo&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Rouge+Script&family=Spirax&display=swap');

body {
  margin: 0;
  font-family: "Libre Baskerville", serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 

}

code {
  font-family: "Libre Baskerville", serif;

}

.carousel {
  position: relative;
  padding: 20px;
  ;
  color: white;
}

.row {
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
}

.row::-webkit-scrollbar {
  display: none;
}

.card {
  width: 250px;
  margin-right: 10px;
  transition: transform 0.3s;
  border-radius: 6px;
}

.card:hover {
  transform: scale(1.1);
  background-color: #fcc1f9;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.6);
  color: white;
  border: none;
  font-size: 24px;
  cursor: pointer;
  padding: 10px;
  z-index: 1;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.carousel {
  background: linear-gradient(135deg, #feffff, #f4f7f7);
}


.body {
  margin: 0;
  background: linear-gradient(to right,#e593b3, #e593b3);
}

.logout-btn {
  background-color: transparent;
  color: #555;
  border: 1px solid #b39797;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.2s ease;
  margin-left: 20px;
}

.logout-btn:hover {
  background-color: #f1c3e5;
  color: #000;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background-color: #e593b3;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.logout {
  margin-left: 450px;
}

.loadmore {
  background-color: transparent;
  color: #555;
  border: 1px solid #fdbfbf;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.2s ease;
  margin-left: 20px;

}

.loadmore-btn:hover {
  background-color: #f1c3e5;
  color: #000;
}
.nav1{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background-color: #e593b3;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);

}
.flower-chat-btn {
  background: linear-gradient(135deg, #ff7eb3, #ff4f81);
  color: white;
  border: none;
  padding: 14px 24px;
  border-radius: 30px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 6px 15px rgba(255, 79, 129, 0.3);
  transition: all 0.3s ease;
}

.flower-chat-btn:hover {
  transform: translateY(-3px) scale(1.05);
  box-shadow: 0 10px 20px rgba(255, 79, 129, 0.4);
  background: linear-gradient(135deg, #ff4f81, #ff7eb3);
}

.flower-chat-btn:active {
  transform: scale(0.98);
}
